footer {
    background-color: aqua;
    width: 100%;
    margin: 0;
    position: absolute;
    text-align: center;
    border-top: 2px solid;
    bottom: 0%;
}

header {
    background-color: aqua;
    margin-bottom: px;
    width: 100%;
    border-bottom: 2px solid;
    padding: 20px 0;
}

body {
    margin: 0;
}

.container {
    border: 2px solid;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    display: flex;
}

#inicio {
    margin-left: 30px;
}

#reserva {
    margin-right: 30px;
}

h2{
    text-align: center;
}

.factura{
    text-align: center;
    border: 2px solid;
    margin-left: 450px;
    margin-right: 450px;
}

.factura button a{
    text-decoration: none;
}

